{
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "rules": {
    "camelcase": "off",
    "no-const-assign": "warn",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "no-unreachable": "warn",
    "no-trailing-spaces": "warn",
    "eol-last": "warn",
    "quotes": ["warn", "single", {"avoidEscape": true}],
    "valid-typeof": "warn",
    "indent": ["warn", 4],
    "semi": ["warn", "never"],
    "no-var": "warn",
    "eqeqeq": ["warn", "always"],
    "space-infix-ops": "warn",
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "prefer-const": "warn"
  }
}