/*Taille écran par défaut*/
body {
	background-color: #dad9d7;
}

h1, h2 {
	text-align: center;
	font-family: fantasy;
}

p {
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	font-family: sans-serif;
}

#menu {
      width: 100%;
      height: 60px;
      background: #7dccc7;
      position: relative;
      top: -20px;

}

h1{
	position: relative;
	top: 15px;
}

#fiche_technique, #top_film, #genre, #year{
	  background: #ffffff;
      box-shadow: 6px 6px 8px black;
      position: absolute;
}

#fiche_technique {
    width: 610px;
    height: 400px;
    left: 20px;
    overflow: scroll;
    margin-top: 20px;
}

#top_film {
      width: 610px;
      height: 195px;
      top: 500px; 
      left: 20px;
      overflow: scroll;
      margin-top: 20px;
}

#year {
      width: 610px;
      left: 650px;
      top: 500px; 
      margin-top: 20px;
      margin-bottom: 20px;
}

#genre {
      width: 610px;
      left: 650px;
      margin-top: 20px;
    }

/*Taille réduite*/
@media screen and (max-width: 1050px) {
	#year {
		left: 20px;
		top: 1110px;
	}

	#genre {
		left: 20px;
		top: 710px;
	}
}

/*Taille minimale*/
@media all and (max-width: 500px) {
	#fiche_technique {
		margin: 10 auto;
		left: auto;
		width: 450px;
	}

	#top_film {
		margin: 10 auto;
		left: auto;
		width: 450px;
		top: 500px;
	}

	#year {
		margin: 10 auto;
		left: auto;
		width: 450px;
		top: 1020px;
	}

	#genre {
		margin: 10 auto;
		left: auto;
		width: 450px;
		height: 300px;
		top: 710px;
	}
}

/*Grand écran*/
@media screen and (min-width: 1500px) {
	#fiche_technique {
		left: 90px;
		width: 850px;
		height: 500px;
	}

	#top_film {
		left: 90px;
		width: 850px;
		top: 600px;
	}

	#year {
		left: 970px;
		width: 850px;
		top: 600px;
	}

	#genre {
		left: 970px;
		width: 850px;
	}
}





